<a href="https://colab.research.google.com/github/nidhidhnkr/Ml_using_py/blob/main/week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to swap two numbers.

In [ ]:
a=5
b=7
#c=a a=b b=c
a,b =b,a
print(a,b)

7 5

Take input from the user and print it in a formatted way.

In [ ]:
name = input("Enter your name: ")
age = input("Enter your age: ")
city = input("Enter your city: ")

print(f"Hello, {name}! You are {age} years old and live in {city}.")

Enter your name: nidhi
Enter your age: 19
Enter your city: bahadurgarh
Hello, nidhi! You are 19 years old and live in bahadurgarh.

check data type of user input

In [ ]:
a= int(input("enter= "))
print(type(a))

enter= 78
<class 'int'>

Write a program to check if a number is even or odd.

In [ ]:
a=int(input())
if a%2==0:
  print("even")
else:
  print("odd")

45
odd

wap to find largest of 3 numbers

In [ ]:
a=6
b=5
c=9
if a>b and b>c:
  print("a is largest")
elif b>a and b>c:
  print("b is largest")
else:
  print("c is largest")

c is largest

check prime

In [ ]:
a=int(input())
if a<0:
  print("negative numbers are neither prime nor composite")
elif a==0 or a==1:
  print("niether prime nor composite")
else:
  for i in range(2,a//2):
    if a%i==0:
      print("not prime")
      break
    else:
      print("composite")
      break

45
composite

print first 100 prime numbers

In [ ]:
def isprime(n):
  while n>1:
    for i in range(2,n//2):
      if n%i==0:
        return False
    return True

count=0
num=2 #first 100 starts with 2

while count<100:
  if isprime(num):
    print(num,end=" ")
    count+=1
  num+=1

2 3 4 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523

print multiplication table for a number

In [ ]:
n=int(input())
for i in range(1,11):
  print(n*i,end="\n")

17
17
34
51
68
85
102
119
136
153
170

# print number pattern

rectangle square

In [ ]:
for i in range(4):
  for j in range(4):
    print('*',end='')
  print()

****
****
****
****

In [ ]:
n=int(input())
r=1
while (r<=n):
  col=1
  while col<=n:
    print(n-col+1,end="")
    col+=1
  r+=1
  print()

6
654321
654321
654321
654321
654321
654321

In [ ]:
n=int(input())
r=1
while (r<=n):
  col=1
  while col<=n:
    print(r+col-1,end=" ")
    col+=1
  r+=1
  print()

5
1 2 3 4 5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8
5 6 7 8 9

triangular

In [ ]:
n=int(input())
r=1
while r<=n:
  col=1
  while col<=r:
    print(r,end=" ")
    col+=1
  r+=1
  print()

3
1
2 2
3 3 3

In [ ]:
n=int(input())
r=1
while r<=n:
  col=1
  while col<=r:
    print(col,end=" ")
    col+=1
  r+=1
  print()

4
1
1 2
1 2 3
1 2 3 4

In [ ]:
n=int(input())
r=1
t=1
while r<=n:
  col=1

  while col<=r:
    print(t,end=" ")
    t+=1
    col+=1
  r+=1
  print()

4
1
2 3
4 5 6
7 8 9 10

characters

In [ ]:
n=int(input())
r=1
while r<=n:
  col=1
  while col<=n:
    print(chr(64+col),end=" ")
    col+=1
  r+=1
  print()

5
A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [ ]:
n=int(input())
r=1
while r<=n:
  col=1
  while col<=n:
    print(chr(64+col+r-1),end=" ")
    col+=1
  r+=1
  print()

4
A B C D
B C D E
C D E F
D E F G

In [ ]:
n=int(input())
r=1
while r<=n:
  col=1
  while col<=r:
    print(chr(64+col),end=" ")
    col+=1
  r+=1
  print()

3
A
A B
A B C

In [ ]:
n=int(input())
r=1
while r<=n:
  col=1
  while col<=r:
    print(chr(64+r),end=" ")
    col+=1
  r+=1
  print()

3
A
B B
C C C

inverted triangle

In [ ]:
n=int(input())
r=1
while r<=n:
  col=1
  while col<=n-r+1:
    print("*",end=" ")
    col+=1
  r+=1
  print()

4
* * * *
* * *
* *
*

In [ ]:
n=int(input())
r=0
while r<=n-1:
  sp=1
  while sp<=n-r:
    print(" ",end=" ")
    sp+=1
  col=1
  while col<=r:
    print("*", end=" ")
    col+=1
  r+=1
  print()

4

      *
    * *
  * * *

In [ ]:
n=int(input())
r=0
while r<=n-1:
  sp=1
  while sp<=n-r:
    print(" ",end=" ")
    sp+=1
  num=1
  while num<=r:
    print(num, end=" ")
    num+=1
  while num>=1:
    print(num,end=" ")
    num-=1
  r+=1
  print()

4
        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1

In [ ]:
n = int(input("Enter number of rows: "))

for i in range(1, n + 1):
    if i == 1:
        print("1")
    elif i == 2:
        print("11")
    else:
        print(str(i - 1) + "0" * (i - 2) + str(i - 1))

Enter number of rows: 5
1
11
202
3003
40004

# FUNCTIONS

In [ ]:
def fact(n):
    if n == 0 or n == 1:  # Base case
        return 1
    else:
        return n * fact(n - 1)

x = fact(5)  # or any number you want to test
print(x)

120

In [ ]:
def fibonacci_loop(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b

fibonacci_loop(10)

0 1 1 2 3 5 8 13 21 34

In [ ]:
# Define operation functions
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    if b != 0:
        return a / b
    else:
        return "Error! Division by zero."

# Main calculator function
def calculator():
    print("Select operation:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")

    choice = input("Enter choice (1/2/3/4): ")

    if choice in ['1', '2', '3', '4']:
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter numbers.")
            return

        if choice == '1':
            print("Result:", add(num1, num2))
        elif choice == '2':
            print("Result:", subtract(num1, num2))
        elif choice == '3':
            print("Result:", multiply(num1, num2))
        elif choice == '4':
            print("Result:", divide(num1, num2))
    else:
        print("Invalid choice.")

# Call the calculator
calculator()

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice (1/2/3/4): 3
Enter first number: 34
Enter second number: 56
Result: 1904.0

array/ list dict tuple sets

In [ ]:
#linear search
l=[1,4,5,7,2,8,9]
# for _ in l:
#   if(_==7):
#     print(l.index(_),end="")  #inex funtion iterates again for index of _

found=False
for i in range(len(l)):
  if l[i]==7:
    print(i,end="")
    found=True
    break
if not found:
  print(-1)

3

In [ ]:
#Remove duplicates from a list.
l=[1,4,5,7,2,8,9,3,2,7,5]
for _ in l:
  for i in range(l.count(_)-1):   #count the no. of occurences and remove all-1
    l.remove(_)
print(l)

[1, 4, 8, 9, 3, 2, 7, 5]

In [ ]:

l = [1, 4, 5, 7, 2, 8, 9, 3, 2, 7, 5]

for i in range(len(l)):
    for j in range(0, len(l) - i - 1):
        if l[j] > l[j + 1]:
            l[j], l[j + 1] = l[j + 1], l[j]  # Swap bubble sort

print(l)

[1, 2, 2, 3, 4, 5, 5, 7, 7, 8, 9]